*{
    box-sizing: border-box;
    color: white; 
    text-shadow: 1px 1px black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
  }

body{
    background:  url(./alakin.png) no-repeat right bottom / 100px fixed , url(./teste\ 1.jpg) no-repeat center / cover fixed;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-areas: 
      "topo topo"
      "main aside"
      "footer footer"; 
    grid-template-rows: 4% 1fr 4%;
    grid-template-columns: 50%;
}
header{
  grid-area: topo;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 2%;
}
main{
  grid-area: main;
}
aside{
  grid-area: aside;
}
footer{
  grid-area: footer;

}  
 

iframe{
    margin: 0%;
    padding: 2% 0% 2% 30%;
  }

  button{
    width: 300px;
    background-color: black;
    border-color: gray;
  }

  a{
    color: rgb(250,50,50);
  }
  h1{
    padding: 0% 8%;
    text-align: center;
  }
  h2{
    padding: 0% 8%;
    text-align: center;
  }
  h3{
    padding: 0% 15%}
  p{
    padding: 0% 12%;
    text-align: center;
  }
  li{
    margin:0 17%;
    padding: 0 2%;
  }
 